<div class="container">

    <h1 class="my-4">About</h1>

    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" [attr.src]="src" [attr.alt]="alt" />
        </div>
        <div class="col-lg-6" [@textAnimation]>
            <h4>Around the Globe</h4>
            <br/>
            <p>
                Do you like to explore and learn from cultures, food, history, mountains, adventurous activities, unusual destinations and
                incredible ways of life? Then you’re in the right place. Jump straight to a place in our round the world
                travel blog. Places and travel destinations, some easier, some harder, some cheap, some expensive.
            </p>
            <hr>
            <p>You can contact us via info@aroundtheglobe.com</p>
        </div>
    </div>
</div>