<div class="container">

    <h1 class="my-4">Author</h1>

    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" [attr.src]="src" [attr.alt]="alt" />
        </div>
        <div class="col-lg-6" [@textAnimation]>
            <h4>Author</h4>
            <br/>
            <p>
                <b>Jasmina Šević</b> graduated from the Faculty of Political Science, Department of Journalism and Communication
                Studies in 2013. Currently, she is on her final year at the ICT College of Vocational Studies in Belgrade.
                She made this project for Web programming - Practicum exam.
            </p>
            <hr>
            <p>You can contact her via jasmina.sevic.130.15@ict.edu.rs</p>
        </div>
    </div>
</div>